p 
{font-family: 'Times New Roman', Times, serif;
 font-size: medium;
 line-height: normal;
 color: #00001a;
 }

a {
    text-decoration: underline;
    color: #a00;
  }
  a:visited {
    color: #844;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    background: #800;
  }

body
  {font-weight: 90%;
   margin: 110px; }

ol
  {font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: normal;
    color: #00001a;}

q
  {margin: 210px;
   font-size: 160%;
   background-color: #e0e0d1;
   border-left: 3px solid #b32d00; }