p 
{font-family: 'Times New Roman', Times, serif;
 font-size: medium;
 line-height: normal;
 color: #00001a;
 }

a {
    text-decoration: underline;
    color: #a00;
  }
  a:visited {
    color: #844;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    background: #800;
  }

body
  {font-weight: 90%;
   margin: 110px;
   background: -webkit-linear-gradient(90deg, rgb(237, 84, 22), rgb(100, 22, 3));
   background: linear-gradient(90deg, rgb(237, 84, 22), rgb(100, 22, 3));
   background-image: url(https://archinect.imgix.net/uploads/5p/5ppn2zaegtbysre7.jpg?fit=crop&auto=compress%2Cformat&w=1500);
   background-repeat:no-repeat;
   background-position: bottom right;
   background-size: cover; }

ol
  {font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: normal;
    color: #00001a;}

q
  {margin: 210px;
   font-size: 160%;
   background-color: lightgray;
   border-left: 3px solid #b32d00;
   padding-left: 30px;
   }

.citations {
    font-style: italic;
}

.citations-vill {
    font-style: italic;
    border-left: 3px solid darkolivegreen;
}

.citations-ferm {
    font-style: italic;
    border-left: 3px solid darkorange;
}

h2 {
    background-color: yellow;
}

.bien {
    text-transform: capitalize;
    color: green;
}

.mal {
    text-transform: capitalize;
    color: red;
}