h1 {
    border: 3px solid;
    border-radius: 10px;
    border-style: none;
    display: inline-block;
    background-color: black;
    color: white
}

header {
    text-align: center;
    padding: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.ptitle {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.intro {
    font-family: 'News Cycle', sans-serif;
}

.notions {
    text-decoration: underline;
}

.monospace {
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.question {
    width:20px;
    height:30px;
    position: relative;
    left: 300px;
    bottom: 40px;
}

.police {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}